@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #111111;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lexend Mega", sans-serif;
    font-size: 300%;
    text-transform: uppercase;
}

/*------------------------------ Header */

header {
    font-family: "Lexend Mega", sans-serif;
    width: 100%;
    background-color: #111111;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.my-nav {
    background-color: #111111;
    min-height: 15vh;
    width: 100%;
    margin: 0 auto;
}

.my-nav .navbar-brand h1 {
    color: #f7f7f7;
    font-size: 200%;
    text-shadow: -1px -1px 0 #D1B100, 1px -1px 0 #D1B100, -1px 1px 0 #D1B100, 1px 1px 0 #D1B100;


}

.my-nav .nav-link {
    color: #f7f7f7;
    font-size: 150%;
    text-shadow: -0.5px -0.5px 0 #F1CB00, 0.5px -0.5px 0 #F1CB00, -0.5px 0.5px 0 #F1CB00, 0.5px 0.5px 0 #F1CB00;
}

.my-nav .nav-link:hover {
    color: #F1CB00;
    font-size: 150%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-toggler {
    margin: 0 auto;
}

.navbar-toggler-icon {
    color: #f7f7f7;
    font-size: 2rem;
    padding: 8px;
    border: solid 1px #F1CB00;
}

.navbar-nav {
    padding-left: 50px;
}

.navbar-nav .nav-link {
    padding-left: 50px;
}

.navbar-collapse {
    margin: 0 auto;
    text-align: center;
}

/*------------------------------ Homepage */

/*------------------------ AnchorNav */

.anchor-nav {
    font-family: "Lexend Mega", sans-serif;
    width: 100%;
    float: right;
    background-color: #111111;
    margin-left: 0;
    padding-left: 0;
    border-top: solid 0.2px #F1CB00;
    border-bottom: solid 0.2px #F1CB00;
}

.anchor-nav ul {
    display: table;
    float: right;
    list-style: none;
    padding: 2px;
    margin: 0;
}

.anchor-nav li {
    display: table-cell;
    float: left;
    color:#f7f7f7;
    padding: 0 20px;
    margin: 0;
    text-shadow: -1px -1px 0 #F1CB00, 1px -1px 0 #F1CB00, -1px 1px 0 #F1CB00, 1px 1px 0 #F1CB00;
}    

.anchor-nav li a {
    display: block;
    color:#f7f7f7;
    text-decoration: none;
    text-shadow: -0.3px -0.3px 0 #F1CB00, 0.3px -0.3px 0 #F1CB00, -0.3px 0.3px 0 #F1CB00, 0.3px 0.3px 0 #F1CB00;
}

.anchor-nav li a:hover {
    display: block;
    color:#f7f7f7;
    text-decoration: underline;
    text-shadow: -0.3px -0.3px 0 #F1CB00, 0.3px -0.3px 0 #F1CB00, -0.3px 0.3px 0 #F1CB00, 0.3px 0.3px 0 #F1CB00;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*-------------------------- Main */

main {
    width: 100%;
}

/*-------------------------- Video */

.bg-vid-img {
    display: none;
}

.video-container{
    width: 100%;
    background-color: #D1B100;
}

video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-color: #111111;
}

/*-------------------------- About Us */

.about-us {
    background-color: #2B2B2B;
    width: 100%;
    min-height: 550px;
    text-align: center;
    padding: 40px;
}

.about-us h2 {
    padding-bottom: 20px;
    color: #f7f7f7;
}

.about-us h4 {
    font-family: "Lexend Mega", sans-serif;
    padding: 20px;
    color: #f7f7f7;
    text-decoration: underline;
}

.about-us p {
    font-family: 'Nunito Sans', sans-serif;
    color: #f7f7f7;
}

/*-------------------------- Schedule */

.schedule {
    background-color:#D1B100;
    position: relative;
    width: 100%;
    min-height: 700px;
    text-align: center;
    overflow: auto; 
    padding: 40px;
}

/*----styling came from coder coder. ref in media */
.schedule::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url("../images/gym.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.10;
}

.schedule h2 {
    padding-bottom: 20px;
}

.schedule h4 {
    position: relative;
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
}

.schedule-days {
    position: relative;
    padding: 15px;
}

.schedule-days p {
    font-weight: 500;
}

.schedule-days .btn {
    background-color: #2B2B2B;
    width: 216px;
    padding: 0;
    border: solid 1px #f7f7f7;
}

.schedule-days .btn h4 {
    color: #f7f7f7;
    padding: 10px 0;
}

.schedule-sun-price h4 {
    background-color: #2B2B2B;
    color: #f7f7f7;
    padding: 10px 0;
    border: solid 1px #f7f7f7;
    margin: 0 auto;
    margin-bottom: 16px;
    width: 216px;
    border-radius: 0.25rem;
}

.sun-price-card {
    background-color: #f7f7f7;
    width: 60%;
    margin: 0 auto;
    padding: 16px;
    border-radius: 0.25rem;
}

.schedule-days .btn h4:hover {
    color: #2B2B2B;
    background-color: #f7f7f7;
    padding: 10px 0;
    text-decoration: underline;
}

.bg-img-schedule {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

/*-------------------------- FAQ */

.faq {
    text-align: center;
    background-color: #2B2B2B;
    width: 100%;
    min-height: 550px;
    padding: 40px;
}

.faq h2 {
    padding-bottom: 20px;
    color: #f7f7f7;
}

.faq h5 {
    padding: 5px;
    font-weight: 600;
    font-size: 125%;
    color: #f7f7f7;
}

.faq-container {
    padding: 20px;
}

.faq-container .btn {
    background-color: #D1B100;
}


.faq-container .btn i {
    color: #f7f7f7;
}

.faq p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 125%;
}

/*-------------------------- Testimonials */

.testimonials {
    background-color: #D1B100;
    width: 100%;
    min-height: 300px;
    padding: 40px 0;
    text-align: center;
}

.testimonials h2 {
    padding-bottom: 25px;
}

.carousel-item {    
    height: 32rem;
    min-height: 300px;
    background: black;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.carousel-item .carousel-caption {
    position: absolute;
    bottom: 20%;
    background-color: #D1B100;
    padding: 100px;
}

.carousel-item .carousel-caption h5 {
    font-weight: 600;
}

.carousel-item img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.3;
}

/*----------------------------- Gallery Page */

.gallery {
    background-color: #D1B100;
    margin: 0 auto;
}

.gallery h2 {
    padding: 40px;
    text-align: center;
    font-size: 225%;
    font-weight: 600;
}

.gallery img {
    padding: 20px;
    width: 100%;
}

/*
.gallery img:hover {
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    background-size: cover;
}
*/

/*----------------------------- Contact Page */

.contact-pg {
    background-color: #D1B100;
    margin: 0 auto;
    width: 100%;
    min-height: 950px;
    position: relative;
}

.contact-pg::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url("../images/Attentieattentieringwalk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.50;
}

.contact-pg h2 {
    padding: 40px;
    text-align: center;
    color: #111111;
    font-size: 225%;
    font-weight: 800;
}

.contact-pg .container .row {
    padding-bottom: 50px;
}


/*-------------------------- Contact Info */

.contact-info {
    padding-bottom: 50px;
}

.contact-info .box {
    border: solid 1px #111111;
    background-color: #111111;
    color: #f7f7f7;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.5rem; 
}

.contact-info .box h5 {
    font-size: 125%;
    font-weight: 600;
    color: #f7f7f7;
}

.contact-info .box p {
    font-size: 125%;
    font-weight: 500;
    color: #f7f7f7;
}

.contact-info .box address {
    font-size: 125%;
    font-weight: 500;
    color: #f7f7f7;
}

.contact-info .box a {
    color: #f7f7f7;
    text-decoration: none;
}

/*-------------------------- Contact Form */

.contact-form {
    margin: 0 auto;
    border: solid 1px;
    width: 50% !important;
    background-color: #111111;
    text-align: center;
    border-radius: 0.5rem;
}

.contact-form h4 {
    padding: 10px 0;
    color: #f7f7f7;
}

.contact-form label {
    font-weight: 600;
    color: #111111;
}

.contact-form label {
    font-weight: 600;
    color: #111111;
}

.contact-form textarea {
    height: 40vh;
}

.bar-spacer {
    margin-bottom: 15px;
}

.submit-btn {
    width: 50%;
    margin: 0 auto;
}


.submit-btn button {
    font-weight: 600;
    color: #111111;
    border: solid 1px;
    background-color: #f7f7f7;
    font-weight: 600;
    margin-bottom: 13px;
}

.submit-btn button:hover {
    font-weight: 600;
    color: #f7f7f7;
    border: solid 1px;
    background-color: #D1B100;
    margin: 0 auto;
    font-weight: 600;
    margin-bottom: 13px;
}

/*-------------------------- Thank You */

.thank-you h4 {
    font-size: 200%;
    font-weight: 600;
    color: #f7f7f7;
    text-align: center;
}

.thank-you p {
    font-size: 200%;
    font-weight: 600;
    color: #f7f7f7;
    text-align: center;
}

/*-------------------------------- Footer */

footer {
    min-height: 26rem;
    width: 100%;
    background-color:#111111;
    font-family: "Lexend Mega", sans-serif;
    color: #f7f7f7;
    margin-top: auto;
}

footer .container {
    padding: 0;
    margin: 0;
}

.inner-footer {
    position: absolute;
    width: 100%;
    background-color: #111111;
}

/*-------------------------- Map Container */

.map-container {
    position: absolute;
    top: 0;
    margin: 0 auto;
    border: 0;
}

.mapouter {
    position: relative;
    text-align: center;
    bottom: 0px;
    height: 200px;
    width: 100%;
    box-sizing: content-box;
}

.gmap-canvas {
    overflow: hidden;
    background: none!important;
    height:200px;
    width: 100%;
    box-sizing: content-box;
}

/*-------------------------- Contact Us */

.contact-us {
    padding: 15px;
    width: 50%;
}

.contact-us-heading {
    font-size: 30px;
    padding-left: 10px;
    text-shadow: -1px -1px 0 #F1CB00, 1px -1px 0 #F1CB00, -1px 1px 0 #F1CB00, 1px 1px 0 #F1CB00;
}

.contact-us ul {
    padding: 10px;
}

.contact-us li {
    text-decoration: none;
    list-style: none;
    text-shadow: -0.3px -0.3px 0 #F1CB00, 0.3px -0.3px 0 #F1CB00, -0.3px 0.3px 0 #F1CB00, 0.3px 0.3px 0 #F1CB00;
    padding: 2px 0;
}

.contact-us li a {
    text-decoration: none;
    color: #f7f7f7;
    text-shadow: -0.3px -0.3px 0 #F1CB00, 0.3px -0.3px 0 #F1CB00, -0.3px 0.3px 0 #F1CB00, 0.3px 0.3px 0 #F1CB00;

}


/*-------------------------- Social Media */

.social-media {
    position: absolute;
    width: 50%;
    right: 5px;
    bottom: 5px;
}

.social-media ul {
    list-style: none;
    display: inline-flex;
    padding: 10px;
    float: right;
}

.social-media li a i {
    width: 17px;
    height: 17px;
    padding: 15px;
    border-radius: 50%;
    font-size: 17px;
    line-height: 15px;
    margin: 10px;
    text-align: center;
    color: #f7f7f7;
    background-color: #F1CB00;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    box-sizing: content-box;
}

.social-media li a i:hover {
    width: 17px;
    height: 17px;
    padding: 15px;
    border-radius: 50%;
    font-size: 17px;
    line-height: 15px;
    margin: 10px;
    text-align: center;
    color: #111111;
    background-color: #f7f7f7;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    box-sizing: content-box;
}

/*-------------------------- Media */

@media screen and (max-width: 768px) {
    .my-nav .navbar-brand h1 {
        padding: 0;
        text-align: center;
        margin: 0 auto;
        font-size: 140%;

    }

    .video-container {
        display: none;
    }

    .bg-vid-img {
        margin: 0;
        background-size: auto;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 600px;
        display: block;
        zoom: 20%;
    }

    .inner-footer{
        position: relative;
        width: 100%;
        height: 375px;
        text-align: center;
        margin: 0 auto;
    }

    .contact-us {
        width: 400px;
        height: 60%;
        margin: 5px auto;
    }


    .social-media {
        width: 400px;
        height: 40%;
        margin: 0 auto;
        position: relative;
        bottom: 5%;
        right: 5%;
    }

    .social-media ul li{
        margin: 0 auto;
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .inner-footer {
        position: relative;
        width: 100%;
        height: 375px;
        text-align: center;
        margin: 0 auto;
    }

    .contact-us {
        width: 400px;
        height: 60%;
        margin: 5px auto;
    }


    .social-media {
        height: 40%;
        margin: 0 auto;
        position: relative;
        bottom: 5%;
        right: 5%;
        
    }

    .social-media ul li{
        padding: 20px;
    }
}