@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    width: 100vw;
    min-height: 100vh;
}


header {
    font-family: "Lexend Mega", sans-serif;
    width: 100vw;
    background-color: #111111;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lexend Mega", sans-serif;
    font-size: 300%;
    text-transform: uppercase;
}

.my-nav {
    background-color: #111111;
    min-height: 15vh;
    width: 100%;
    margin: 0 auto;
}

.my-nav .navbar-brand h1 {
    color: #f7f7f7;
    font-size: 200%;
    text-shadow: -1px -1px 0 #D1B100, 1px -1px 0 #D1B100, -1px 1px 0 #D1B100, 1px 1px 0 #D1B100;


}

.my-nav .nav-link {
    color: #f7f7f7;
    font-size: 150%;
    text-shadow: -0.5px -0.5px 0 #F1CB00, 0.5px -0.5px 0 #F1CB00, -0.5px 0.5px 0 #F1CB00, 0.5px 0.5px 0 #F1CB00;
}

.my-nav .nav-link:hover {
    color: #F1CB00;
    font-size: 150%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-toggler {
    margin: 0 auto;
}

.navbar-toggler-icon {
    color: #f7f7f7;
    font-size: 2rem;
    padding: 8px;
    border: solid 1px #F1CB00;
}

.navbar-nav {
    padding-left: 50px;
}

.navbar-nav .nav-link {
    padding-left: 50px;
}

.navbar-collapse {
    margin: 0 auto;
}

.anchor-nav {
    font-family: "Lexend Mega", sans-serif;
    width: 100%;
    float: right;
    background-color: #111111;
    margin-left: 0;
    padding-left: 0;
    border-top: solid 0.2px #F1CB00;
    border-bottom: solid 0.2px #F1CB00;
}

.anchor-nav ul {
    display: table;
    float: right;
    list-style: none;
    padding: 2px;
    margin: 0;
}

.anchor-nav li {
    display: table-cell;
    float: left;
    color:#f7f7f7;
    padding: 0 20px;
    margin: 0;
    text-shadow: -1px -1px 0 #F1CB00, 1px -1px 0 #F1CB00, -1px 1px 0 #F1CB00, 1px 1px 0 #F1CB00;
}    

.anchor-nav li a {
    display: block;
    color:#f7f7f7;
    text-decoration: none;
    text-shadow: -0.3px -0.3px 0 #F1CB00, 0.3px -0.3px 0 #F1CB00, -0.3px 0.3px 0 #F1CB00, 0.3px 0.3px 0 #F1CB00;
}

.anchor-nav li a:hover {
    display: block;
    color:#f7f7f7;
    text-decoration: underline;
    text-shadow: -0.3px -0.3px 0 #F1CB00, 0.3px -0.3px 0 #F1CB00, -0.3px 0.3px 0 #F1CB00, 0.3px 0.3px 0 #F1CB00;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*
.inner-header {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 10px;
    display: block;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}


.logo-container h1 {
    color: white;
    font-weight: 800;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    float: left;
    vertical-align: middle;
}

.logo-container a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
}

.navbar-toggle.collapsed {
    background-color: goldenrod !important;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: red !important;
}

.dropdownmenu.dropdown-toggle{
background: url(http://yourwebsite.com/wp-content/themes/zerif-pro/images/menu-icon.png) center center no-repeat green !important;
}

/*
.navigation {
    height: 100%;
    display: table;
    float: right;
    margin-bottom: 0;
}
/*
.navigation li {
    height: 100%;
    display: table;
    float: left;
    color: white;
    text-decoration: none;
    
}

.navigation li a {
    height: 100%;
    display: table-cell;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    padding: 2rem;
    margin: 0 auto;
    border-left: solid 1px;
}


.navigation li a:hover {
    height: 100%;
    display: table-cell;
    color: black;
    background-color: white;
    text-decoration: none;
    vertical-align: middle;
    padding: 2rem;
    margin: 0 auto;
    border-left: solid 1px;
    border-right: solid 1px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-link {
    padding: 1rem;
}

.navbar-toggler {
    color: aliceblue;
}
/*
.anchor-nav {
    display: table;
    width: 100%;
    float: right;
    background-color: black;
    margin-left: 0;
    padding-left: 0;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.anchor-nav ul {
    display: table;
    float: right;
    list-style: none;
    padding: 2px;
    margin: 0;
}

.anchor-nav li {
    display: table-cell;
    float: left;
    color: white;
    padding: 0 20px;
    margin: 0;
}    

.anchor-nav li a {
    display: block;
    color: white;
}

*/

main {
    width: 100vw;
}

.bg-vid-img {
    display: none;
}

.video-container{
    width: 100%;
    background-color: #D1B100;
}

video {
    width: 100vw;
    height: 500px;
    background-image: url("../images/jon-tomas-mt.jpg");
    object-fit: cover;
    background-color: #111111;
}

.about-us {
    background-color: #2B2B2B;
    width: 100%;
    min-height: 550px;
    text-align: center;
    padding: 40px;
}

.about-us h2 {
    padding-bottom: 20px;
    color: #f7f7f7;
}

.about-us h4 {
    font-family: "Lexend Mega", sans-serif;
    padding: 20px;
    color: #f7f7f7;
    text-decoration: underline;
}

.about-us p {
    font-family: 'Nunito Sans', sans-serif;
    color: #f7f7f7;
}

.schedule {
    background-color:#D1B100;
    position: relative;
    width: 100%;
    min-height: 850px;
    text-align: center;
    overflow: auto; 
    padding: 40px;
}

.schedule::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url("../images/gym.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.10;
}

.schedule h2 {
    padding-bottom: 20px;
}

.schedule h4 {
    position: relative;
    padding: 10px;
    text-decoration: underline;
    font-weight: 600;
}

.schedule-days {
    position: relative;
    padding: 15px;
}

.schedule-days p {
    font-weight: 500;
}


.bg-img-schedule {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.faq {
    text-align: center;
    background-color: #2B2B2B;
    width: 100%;
    min-height: 550px;
    padding: 40px;
}

.faq h2 {
    padding: 20px;
    color: #f7f7f7;
}

.faq h5 {
    padding: 5px;
    font-weight: 600;
    font-size: 125%;
    color: #f7f7f7;
}

.faq-container {
    padding: 20px;
}

.faq-container .btn {
    background-color: #D1B100;
}

.faq-container .btn i {
    color: #f7f7f7;
}

.faq p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 125%;
}

.testimonials {
    background-color: #D1B100;
    width: 100%;
    min-height: 300px;
    padding: 40px 0;
    text-align: center;
}

.testimonials h2 {
    padding-bottom: 25px;
}

.carousel-item {    
    height: 32rem;
    min-height: 300px;
    background: black;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.carousel-item .carousel-caption {
    position: absolute;
    bottom: 20%;
    background-color: #D1B100;
    padding: 100px;
}

.carousel-item .carousel-caption h5 {
    font-weight: 600;
}

.carousel-item img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}


footer {
    min-height: 25rem;
    width: 100vw;
    background-color:#111111;
    font-family: "Lexend Mega", sans-serif;
    color: #f7f7f7;
    margin-top: auto;
}

footer .container {
    padding: 0;
    margin: 0;
}

#soc-med-position {
    width: 100%;
}

#soc-med-position ul {
    float: right;

}

.inner-footer {
    position: absolute;
    width: 100%;
}

.map-container {
    position: absolute;
    top: 0;
    margin: 0 auto;
    border: 0;
}

.mapouter{
    position:relative;
    text-align:center;
    bottom: 0px;
    height:200px;
    width:100%;
    box-sizing: content-box;
}

.gmap-canvas {
    overflow:hidden;
    background:none!important;
    height:200px;
    width:100%;
    box-sizing: content-box;
}

.contact-us {
    padding: 15px;
    width: 100%;
}

.contact-us-heading {
    font-size: 30px;
    padding-left: 10px;
    text-shadow: -1px -1px 0 #F1CB00, 1px -1px 0 #F1CB00, -1px 1px 0 #F1CB00, 1px 1px 0 #F1CB00;
}

.contact-us ul {
    padding: 10px;
}

.contact-us li {
    text-decoration: none;
    list-style: none;
    text-shadow: -0.3px -0.3px 0 #F1CB00, 0.3px -0.3px 0 #F1CB00, -0.3px 0.3px 0 #F1CB00, 0.3px 0.3px 0 #F1CB00;
}

.contact-us li a {
    text-decoration: none;
    color: #f7f7f7;
    text-shadow: -0.3px -0.3px 0 #F1CB00, 0.3px -0.3px 0 #F1CB00, -0.3px 0.3px 0 #F1CB00, 0.3px 0.3px 0 #F1CB00;

}

.social-media {
    position: absolute;
    width: 100%;
    right: 5px;
    bottom: 5px;
}

.social-media ul {
    list-style: none;
    display: inline-flex;
    padding: 10px;
    float: right;
}

.social-media li a i {
    width: 17px;
    height: 17px;
    padding: 15px;
    border-radius: 50%;
    font-size: 17px;
    line-height: 15px;
    margin: 10px;
    text-align: center;
    color: #f7f7f7;
    background-color: #F1CB00;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    box-sizing: content-box;
}

.social-media li a i:hover {
     width: 17px;
    height: 17px;
    padding: 15px;
    border-radius: 50%;
    font-size: 17px;
    line-height: 15px;
    margin: 10px;
    text-align: center;
    color: #111111;
    background-color: #f7f7f7;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    box-sizing: content-box;
}

@media screen and (max-width: 768px) {
    .my-nav .navbar-brand h1 {
        padding-left: 20px;
        text-align: center;
        margin: 0 auto;
        font-size: 140%;

    }

    .video-container {
        display: none;
    }

    .bg-vid-img {
        margin: 0;
        background-size: auto;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 600px;
        display: block;
        zoom: 20%;
    }

    .inner-footer{
        position: relative;
        width: 500px;
        height: 375px;
        text-align: center;
        margin: 0 auto;
    }

    .contact-us {
        width: 400px;
        height: 60%;
        margin: 5px auto;
    }


    .social-media {
        width: 400px;
        height: 40%;
        margin: 0 auto;
        position: relative;
        bottom: 5%;
        right: 2.5%;
    }

    .social-media ul li{
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .inner-footer{
        position: relative;
        width: 500px;
        height: 375px;
        text-align: center;
        margin: 0 auto;
    }

    .contact-us {
        width: 400px;
        height: 60%;
        margin: 5px auto;
    }


    .social-media {
        width: 400px;
        height: 40%;
        margin: 0 auto;
        position: relative;
        bottom: 5%;
        right: 2.5%;
    }

    .social-media ul li{
        padding: 20px;
    }
}