@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    font-family: "Lexend Mega", sans-serif;
    width: 100vw;
    height: 15vh;
    background-color: green;
    color: white;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0;
}

.inner-header {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 10px;
    background-color: black;
    display: block;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}


.logo-container h1 {
    color: white;
    font-weight: 800;
    text-decoration: none;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    float: left;
    vertical-align: middle;
}

.logo-container a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
}

.navigation {
    height: 100%;
    display: table;
    float: right;
}

.navigation li {
    height: 100%;
    display: table;
    float: left;
    color: white;
    text-decoration: none;
}

.navigation li a {
    height: 100%;
    display: table-cell;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 20px;
    margin: 0 auto;
    border-left: solid 1px;
}

.navigation li a:hover {
    height: 100%;
    display: table-cell;
    color: black;
    background-color: white;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 20px;
    margin: 0 auto;
    border-left: solid 1px;
    border-right: solid 1px;
}

.anchor-nav {
    display: table;
    width: 100%;
    float: right;
    background-color: black;
    margin-left: 0;
    padding-left: 0;
}

.anchor-nav ul {
    display: table;
    float: right;
    list-style: none;
    padding: 2px;
    margin: 0;
}

.anchor-nav li {
    display: table-cell;
    float: left;
    color: white;
    padding: 0 20px;
    margin: 0;
}    

.anchor-nav li a {
    display: block;
    color: white;
}


